<div class="top-icon">
    <img src="<%= "https://graph.facebook.com/" + @uid + "/picture" %>" style="vertical-align: middle; margin-right: 10px;"/><span style="vertical-align: middle;"><%= @uname %> 's check</span>
</div>
<div class="counter">
<span id="nowCount">0</span><span style="vertical-align: bottom;">&nbsp;/&nbsp;7<span>
</div>

<table class="table table-bordered">
<% index = 0 %>
<% @quest.each do |q| %>
<% if index % 3 == 0 %><tr><% end %>
<% 
checked_flg = false;
@answer.each do |a| 
    if (q.id == a.question_id) then
        checked_flg = true
        break
    end
end 
%>
<td><%= check_box_tag("question_" + q.id.to_s, q.question, checked_flg, :class => 'question', :style => "float: left;") %><label for="question_<%= q.id.to_s %>">&nbsp;:&nbsp;<%= q.question %></label></td>
<% index = index + 1 %>
<% if index % 3 == 0 %></tr><% end %>
<% end %>
<% if index % 3 != 0 %></tr><% end %>
</table>
<div class="modal hide fade" id="saveModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>your self check</h3>
    </div>
    <div class="modal-body">
        <p>この内容で保存してよろしいですか？</p>
        <div id="selectedItems"></div>
    </div>
    <div class="modal-footer" style="text-align : right;">
        <%= submit_tag '保存する', :disable_with => '処理中...', :class => "btn-primary" %>
        <a href="#" data-dismiss="modal" class="btn">Close</a>
    </div>
</div>
<%= hidden_field_tag 'nowCount', '0', :id => 'nowCountInput' %>
<div id="warningText" style="color: red;"></div>
<a id="saveLink" href='#saveModal' class="btn btn-primary" data-toggle="modal">保存する</a>
<%= link_to 'トップに戻る', '/', :class => 'btn' %>
<script type="text/javascript">
$(document).ready(function(){
    var nowCount = 0;
    tmp = $(".question");
    for (i = 0; i < tmp.length; i++) {
        if (tmp[i].checked) {
            nowCount++;
        }
    }
    $("#nowCount").html(nowCount);
    
    $('#saveLink').click(function(){
        var formItems = $("form").serializeArray() || [];
        var reg = new RegExp("^question.*");
        var displayItems = new Array();
        for (i = 0; i < formItems.length; i++) {
            if (formItems[i].name != undefined && formItems[i].name.match(reg)) {
                displayItems.push(formItems[i].value);
            }
        }
        $("#selectedItems").html("<dl><li>" + 
            displayItems.join("</li><li>") +
            "</li></dl>");
        $("#nowCountInput").val(nowCount);
    });
    $('.question').click(function() {
        if (this.checked) {
            nowCount++;
        } else if (nowCount > 0) {
            nowCount--;
        }
        if (nowCount == 7) {
            $('.counter').css({color:"green", fontSize:"48px"});
            $('#warningText').html("");
            $('#saveLink').show();
        } else if (nowCount > 7) {
            $('.counter').css({color:"red", fontSize:"32px"});
            $('#warningText').html("select checkbox less than 8");
            $('#saveLink').hide();
        } else {
            $('.counter').css({color:"black", fontSize:"32px"});
            $('#warningText').html("");
            $('#saveLink').show();
        }
        $("#nowCount").html(nowCount);
    });
});
</script>
