
<div class="row">
    <div class="window span3 well">
        <dl>
        <% @open_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </div>
    <div class="window span3 well">
        <dl>
        <% @bind_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </div>
</div>
<div class="row">
    <div class="window span3 well">
        <dl>
        <% @hidden_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </div>
    <div class="window span3 well">
        <dl>
        <% @unknown_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </div>
</div
<%= link_to 'back to home', '/' %>
