<div class="well">
<span id="descriptionArea">it's result.</span>
</div>

<table align="center">
<tr>
<td>
<table class="table table-bordered window" id="openSelf">
    <tr><td style="text-align : center;" >
        <dl>
        <% @open_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </td></tr>
</table>
</td>
<td>
<table class="table table-bordered window" id="bindSelf">
    <tr><td style="text-align : center;">
        <dl>
        <% @bind_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </td></tr>
</table>
</td>
</tr>
<tr>
<td>
<table class="table table-bordered window" id="hiddenSelf">
    <tr><td style="text-align : center;">
        <dl>
        <% @hidden_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </td></tr>
</table>
</td>
<td>
<table class="table table-bordered window" id="unknownSelf">
    <tr><td style="text-align : center;">
        <dl>
        <% @unknown_self.each_pair do |key, value| %>
            <li><%= value %></li>
        <% end %>
        </dl>
    </td></tr>
</table>
</td>
</tr>
</table>
<%= link_to 'トップに戻る', '/', :class => 'btn' %>  
<script type="text/javascript">
(function() {
    var defaultDescription = "it's result";
    var openSelfDescription = "openSelf";
    var bindSelfDescription = "bindSelf";
    var hiddenSelfDescription = "hiddenSelf";
    var unknownSelfDescription = "unknownSelf";
    $("#openSelf").mouseover(function() {
        $("#descriptionArea").html(openSelfDescription);
    });
    $("#openSelf").mouseout(function() {
        $("#descriptionArea").html(defaultDescription);
    });
    $("#bindSelf").mouseover(function() {
        $("#descriptionArea").html(bindSelfDescription);
    });
    $("#bindSelf").mouseout(function() {
        $("#descriptionArea").html(defaultDescription);
    });
    $("#hiddenSelf").mouseover(function() {
        $("#descriptionArea").html(hiddenSelfDescription);
    });
    $("#hiddenSelf").mouseout(function() {
        $("#descriptionArea").html(defaultDescription);
    });
    $("#unknownSelf").mouseover(function() {
        $("#descriptionArea").html(unknownSelfDescription);
    });
    $("#unknownSelf").mouseout(function() {
        $("#descriptionArea").html(defaultDescription);
    });

})();
</script>
