<!DOCTYPE html>
<html>
<head>
  <title>ショハリ</title>
  <meta name="description" content="ソーシャルジョハリの窓「ショハリ」はあなたが知っている自分と他人が知っている自分の違いを発見するためのサービスです。">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- google analytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29981346-1']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

</script>
   <meta property="og:title" content="ショハリ - ソーシャルジョハリの窓">
   <meta property="og:description" content="ソーシャルジョハリの窓「ショハリ」はあなたが知っている自分と他人が知っている自分の違いを発見するためのサービスです。友達も誘ってやってみましょう！">
  <og:title >
</head>
<body>
<!--//
 *
 * this is open source project. detail is the following url.
 *
 * https://github.com/daigo2010/shohari
 *
//-->
<div class="navbar">
<div class="navbar-inner">
<div class="container" style="width : auto;">
    <%= link_to 'ショハリ', '/', :class => 'brand', :id => 'projectTitle' %>

<div class="nav pull-right">
<div style="float:left; margin:12px 2px 0px 0px;"><a name="fb_share" share_url="http://www.shohari.com/">Facebookでシェア</a></div>
<div style="float:left; margin-top:11px;"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.shohari.com" data-text="他己分析サービス&quot;ショハリ&quot; - 他の人の評価から、あなたの知らない自分がわかるかも" data-via="shohari" data-lang="ja" data-hashtags="shohari">ツイート</a></div><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

</div>
</div>
</div>

<div style="width : 70%; margin-left : auto; margin-right : auto; text-align : center;">
<%= yield %>
</div>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-7597203665401453";
/* shohari */
google_ad_slot = "5530967251";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</body>
</html>
